<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Registro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <link rel="stylesheet" href="../public/css/styles.css"> 
</head>
<body class="page-center">

<div class="register-container">
    
    <h2>INICIAR REGISTRO</h2>

    <form action="../views/index.html" method="post">
        
        <div class="input-group">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre del usuario" required>
            <i class="fas fa-user icon"></i>
        </div>
        
        <div class="input-group">
            <input type="text" id="apellido" name="apellido" placeholder="Apellido del usuario" required>
            <i class="fas fa-user icon"></i>
        </div>

        <div class="input-group">
            <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
            <i class="fas fa-envelope icon"></i>
        </div>

        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Agregar tu contraseña" required>
            <i class="fas fa-lock icon"></i>
        </div>

        <div class="button-group">
            <button type="button" class="btn-cancel" onclick="window.location.href='index.html'">Cancelar</button>
            <button type="submit" class="btn-submit">Registrarse</button>
        </div>

    </form>
</div>

</body>
</html>